In [ ]:
import pandas as pd
import numpy as np

Loading Data

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Data-cleaning-for-beginners-using-pandas.csv")

In [ ]:
df

    Index   Age      Salary  Rating       Location  Established Easy Apply
0       0  44.0   $44k-$99k     5.4       India,In         1999       TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2   NaN   $77k-$89k    -1.0    New York,Ny           -1         -1
3       3  64.0   $44k-$99k     4.4       India In         1988         -1
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5       5  44.0   $77k-$89k     1.4       India,In         1999       TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7       7  44.0   $44k-$99k    -1.0  Australia Aus           -1         -1
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9       9  22.0   $44k-$99k     7.7       India,In           -1       TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009         -1
12     12   NaN   $44k-$99k     0.0       India,In         1999         -1
13     13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16     16  19.0   $19k-$40k     4.5       India,In         1984         -1
17     17   NaN   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20   NaN   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21  35.0   $44k-$99k     5.0    New York,Ny         1946         -1
22     22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23   NaN   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24  13.0   $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN   $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0   $44k-$99k     5.4       India,In         1935         -1
28     28   NaN   $39k-$88k     3.4  Australia Aus         1932         -1

In [ ]:
df.head()

   Index   Age     Salary  Rating       Location  Established Easy Apply
0      0  44.0  $44k-$99k     5.4       India,In         1999       TRUE
1      1  66.0  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2   NaN  $77k-$89k    -1.0    New York,Ny           -1         -1
3      3  64.0  $44k-$99k     4.4       India In         1988         -1
4      4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Index        29 non-null     int64
 1   Age          22 non-null     float64
 2   Salary       29 non-null     object
 3   Rating       28 non-null     float64
 4   Location     29 non-null     object
 5   Established  29 non-null     int64
 6   Easy Apply   29 non-null     object
dtypes: float64(2), int64(2), object(3)
memory usage: 1.7+ KB

In [ ]:
df.isnull().sum()

Index          0
Age            7
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

In [ ]:
df.shape

(29, 7)

In [ ]:
df.columns

Index(['Index', 'Age', 'Salary', 'Rating', 'Location', 'Established',
       'Easy Apply'],
      dtype='object')

In [ ]:
df.columns = df.columns.str.lower().str.replace(' ','-')
df.columns

Index(['index', 'age', 'salary', 'rating', 'location', 'established',
       'easy-apply'],
      dtype='object')

In [ ]:
df.pop('index')

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
Name: index, dtype: int64

#Age

In [ ]:
df.age.isnull().sum()

7

In [ ]:
df.age.head()

0    44.0
1    66.0
2     NaN
3    64.0
4    25.0
Name: age, dtype: float64

In [ ]:
df.age.max()

66.0

In [ ]:
df.age.min()

13.0

In [ ]:
median_age = df.age.median()
median_age

39.5

In [ ]:
df.age = df.age.fillna(median_age)
df.age

0     44.0
1     66.0
2     39.5
3     64.0
4     25.0
5     44.0
6     21.0
7     44.0
8     35.0
9     22.0
10    55.0
11    44.0
12    39.5
13    25.0
14    66.0
15    44.0
16    19.0
17    39.5
18    35.0
19    32.0
20    39.5
21    35.0
22    19.0
23    39.5
24    13.0
25    55.0
26    39.5
27    52.0
28    39.5
Name: age, dtype: float64

In [ ]:
df.age.isnull().sum()

0

In [ ]:
df.age = df.age.astype(int)
df.age

0     44
1     66
2     39
3     64
4     25
5     44
6     21
7     44
8     35
9     22
10    55
11    44
12    39
13    25
14    66
15    44
16    19
17    39
18    35
19    32
20    39
21    35
22    19
23    39
24    13
25    55
26    39
27    52
28    39
Name: age, dtype: int64

Established Year

In [ ]:
df.established.head()

0    1999
1    2002
2      -1
3    1988
4    2002
Name: established, dtype: int64

In [ ]:
df.established = df.established.replace( -1, np.nan)
df.established = df.established.fillna("Unknown")
df.established

0      1999.0
1      2002.0
2     Unknown
3      1988.0
4      2002.0
5      1999.0
6     Unknown
7     Unknown
8     Unknown
9     Unknown
10     2008.0
11     2009.0
12     1999.0
13     2019.0
14     2020.0
15     1999.0
16     1984.0
17     1943.0
18     1954.0
19     1955.0
20     1944.0
21     1946.0
22     1988.0
23     1999.0
24     1987.0
25     1980.0
26     1934.0
27     1935.0
28     1932.0
Name: established, dtype: object

In [ ]:
df.head()

   age     salary  rating       location established easy-apply
0   44  $44k-$99k     5.4       India,In      1999.0       TRUE
1   66  $55k-$66k     3.5    New York,Ny      2002.0       TRUE
2   39  $77k-$89k    -1.0    New York,Ny     Unknown         -1
3   64  $44k-$99k     4.4       India In      1988.0         -1
4   25  $44k-$99k     6.4  Australia Aus      2002.0         -1

#Salary

In [ ]:
df.salary.head(10)

0    $44k-$99k
1    $55k-$66k
2    $77k-$89k
3    $44k-$99k
4    $44k-$99k
5    $77k-$89k
6    $44k-$99k
7    $44k-$99k
8    $44k-$99k
9    $44k-$99k
Name: salary, dtype: object

In [ ]:
df.salary = df.salary.apply(lambda x:x.replace('$',''))
df.salary = df.salary.apply(lambda x:x.replace('k','000'))
df.salary.head()

0    44000-99000
1    55000-66000
2    77000-89000
3    44000-99000
4    44000-99000
Name: salary, dtype: object

In [ ]:
df[['min-salary', 'max-salary']] = df.salary.str.split("-", expand = True)
df.pop('salary')

0      44000-99000
1      55000-66000
2      77000-89000
3      44000-99000
4      44000-99000
5      77000-89000
6      44000-99000
7      44000-99000
8      44000-99000
9      44000-99000
10     10000-49000
11     10000-49000
12     44000-99000
13     44000-99000
14     44000-99000
15    88000-101000
16     19000-40000
17     44000-99000
18     44000-99000
19     44000-99000
20     44000-99000
21     44000-99000
22     55000-66000
23     44000-99000
24     44000-99000
25     44000-99000
26     55000-66000
27     44000-99000
28     39000-88000
Name: salary, dtype: object

In [ ]:
df.head()

   age  rating       location established easy-apply min-salary max-salary
0   44     5.4       India,In      1999.0       TRUE      44000      99000
1   66     3.5    New York,Ny      2002.0       TRUE      55000      66000
2   39    -1.0    New York,Ny     Unknown         -1      77000      89000
3   64     4.4       India In      1988.0         -1      44000      99000
4   25     6.4  Australia Aus      2002.0         -1      44000      99000

In [ ]:
df['min-salary'] = df['min-salary'].astype(int)
df['max-salary'] = df['max-salary'].astype(int)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          29 non-null     int64
 1   rating       28 non-null     float64
 2   location     29 non-null     object
 3   established  29 non-null     object
 4   easy-apply   29 non-null     object
 5   min-salary   29 non-null     int64
 6   max-salary   29 non-null     int64
dtypes: float64(1), int64(3), object(3)
memory usage: 1.7+ KB

In [ ]:
df.head()

   age  rating       location established easy-apply  min-salary  max-salary
0   44     5.4       India,In      1999.0       TRUE       44000       99000
1   66     3.5    New York,Ny      2002.0       TRUE       55000       66000
2   39    -1.0    New York,Ny     Unknown         -1       77000       89000
3   64     4.4       India In      1988.0         -1       44000       99000
4   25     6.4  Australia Aus      2002.0         -1       44000       99000

#Rating

In [ ]:
df.rating.head(10)

0    5.4
1    3.5
2   -1.0
3    4.4
4    6.4
5    1.4
6    0.0
7   -1.0
8    5.4
9    7.7
Name: rating, dtype: float64

In [ ]:
df.rating.isnull().sum()

1

In [ ]:
avg_rating = df.rating.mean()
avg_rating

3.528571428571429

In [ ]:
df.rating = df.rating.fillna(avg_rating)
df.rating

0     5.400000
1     3.500000
2    -1.000000
3     4.400000
4     6.400000
5     1.400000
6     0.000000
7    -1.000000
8     5.400000
9     7.700000
10    5.400000
11    6.700000
12    0.000000
13   -1.000000
14    4.000000
15    3.000000
16    4.500000
17    5.300000
18    6.700000
19    3.300000
20    5.700000
21    5.000000
22    7.800000
23    2.400000
24   -1.000000
25    0.000000
26    3.528571
27    5.400000
28    3.400000
Name: rating, dtype: float64

In [ ]:
df['rating'] = df['rating'].apply(lambda x: x if x>=0 else avg_rating)
df.rating = df.rating.round(decimals=1)
df.rating

0     5.4
1     3.5
2     3.5
3     4.4
4     6.4
5     1.4
6     0.0
7     3.5
8     5.4
9     7.7
10    5.4
11    6.7
12    0.0
13    3.5
14    4.0
15    3.0
16    4.5
17    5.3
18    6.7
19    3.3
20    5.7
21    5.0
22    7.8
23    2.4
24    3.5
25    0.0
26    3.5
27    5.4
28    3.4
Name: rating, dtype: float64

#Easy Apply

In [ ]:
df['easy-apply'] = df['easy-apply'].apply(lambda x: 1 if x=="TRUE" else 0).astype(bool)

In [ ]:
df['easy-apply'].head()

0     True
1     True
2    False
3    False
4    False
Name: easy-apply, dtype: bool

#Location

In [ ]:
df['location'] = df['location'].str.replace('Australia Aus', 'Australia,Aus')
df['location'] = df['location'].str.replace('India In', 'India,In')

In [ ]:
df[['country', 'country-code']] = df.location.str.split(",", expand = True)

In [ ]:
df.pop('location')

#Cleaned Data

In [ ]:
df

,age,rating,established,easy-apply,min-salary,max-salary,country,country-code
0,44,5.4,1999.0,True,44000,99000,India,In
1,66,3.5,2002.0,True,55000,66000,New York,Ny
2,39,3.5,Unknown,False,77000,89000,New York,Ny
3,64,4.4,1988.0,False,44000,99000,India,In
4,25,6.4,2002.0,False,44000,99000,Australia,Aus
5,44,1.4,1999.0,True,77000,89000,India,In
6,21,0.0,Unknown,False,44000,99000,New York,Ny
7,44,3.5,Unknown,False,44000,99000,Australia,Aus
8,35,5.4,Unknown,False,44000,99000,New York,Ny
9,22,7.7,Unknown,True,44000,99000,India,In
10,55,5.4,2008.0,True,10000,49000,India,In
11,44,6.7,2009.0,False,10000,49000,India,In
12,39,0.0,1999.0,False,44000,99000,India,In
13,25,3.5,2019.0,True,44000,99000,Australia,Aus
14,66,4.0,2020.0,True,44000,99000,Australia,Aus
15,44,3.0,1999.0,False,88000,101000,Australia,Aus
16,19,4.5,1984.0,False,19000,40000,India,In
17,39,5.3,1943.0,True,44000,99000,New York,Ny
18,35,6.7,1954.0,True,44000,99000,New York,Ny
19,32,3.3,1955.0,True,44000,99000,New York,Ny
20,39,5.7,1944.0,True,44000,99000,New York,Ny
21,35,5.0,1946.0,False,44000,99000,New York,Ny
22,19,7.8,1988.0,True,55000,66000,New York,Ny
23,39,2.4,1999.0,True,44000,99000,New York,Ny
24,13,3.5,1987.0,False,44000,99000,New York,Ny
25,55,0.0,1980.0,True,44000,99000,Australia,Aus
26,39,3.5,1934.0,True,55000,66000,India,In
27,52,5.4,1935.0,False,44000,99000,India,In
28,39,3.4,1932.0,False,39000,88000,Australia,Aus

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           29 non-null     int64
 1   rating        29 non-null     float64
 2   established   29 non-null     object
 3   easy-apply    29 non-null     bool
 4   min-salary    29 non-null     int64
 5   max-salary    29 non-null     int64
 6   country       29 non-null     object
 7   country-code  29 non-null     object
dtypes: bool(1), float64(1), int64(3), object(3)
memory usage: 1.7+ KB

In [ ]:
df.isnull().sum()

age               0
rating            0
location          0
established       0
easy-apply        0
min-salary        0
maximum-salary    0
dtype: int64